extends ../shared/template

block content
  table
    thead
      th Name
      th Dimensions
      th Weight
      th Quantity
      th MSRP
      th % Off
      th Cost
    each item in items
      tr(style='background-color: #{item.color};')
        td: a(href='/items/#{item._id}')= item.name
        td #{item.dimensions.length}in x #{item.dimensions.width}in x #{item.dimensions.height}in
        td #{item.weight}lbs
        td= item.quantity
        td $#{item.msrp}
        td #{item.percentOff}%
        td $#{item.cost()}

