extends ../shared/template

block content

  .show(style='background-color:#{item.color}')
        h3= item.name
        div #{item.dimensions.length}in x #{item.dimensions.width}in x #{item.dimensions.height}in
        div #{item.weight}lbs
        div= item.quantity
        div $#{item.msrp}
        div #{item.percentOff}%
        div $#{item.cost()}
        form(method='post', action='/items/#{item._id}')
          input(type='hidden', name='_method', value='delete')
          button Delete Item

